<div class="sn-topbar w-full">
  <div
    style="background-color: {{settings.topbar_background}};"
    class="lg:justify-{{section.settings.content_position}} flex flex-col lg:flex-row items-center p-2 gap-1 w-full section-{{ section.settings.container }} h-fit lg:max-h-[40px] mx-auto"
  >
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'message' %}
          {% if block.settings.message != blank %}
            <div class="topbar-message w-fit text-sm md:text-[15px]">
              {{ block.settings.message }}
            </div>
          {% endif %}
        {% when 'contact' %}
          <div class="topbar-contact w-fit text-center flex items-center gap-3">
            {% if block.settings.is_show_phone_num %}
              {% if settings.store_phone_number %}
                <div class="w-fit h-fit flex items-center gap-1">
                  {% render 'icons', type:'phone', color:{{settings.topbar_text}} -%}
                  <a class="underline text-[12px] lg:text-sm" href="tel:+{{ settings.store_phone_number }}">
                    {{- settings.phone_label -}}
                  </a>
                </div>
              {% endif %}
            {% endif %}
            {% if block.settings.is_show_whatsapp %}
              {% if settings.whatsapp_link %}
                <div class="w-fit h-fit flex items-center gap-1">
                  {% render 'icons', type:'whatsapp', color:{{settings.topbar_text}} -%}
                  <a class="underline text-[12px] lg:text-sm" href="https://wa.me/{{settings.whatsapp_link}}">
                    {{- settings.whatsapp_label -}}
                  </a>
                </div>
              {% endif %}
            {% endif %}
            {% if block.settings.is_show_email %}
              {% if settings.store_email %}
                <div class="w-fit h-fit flex items-center gap-1">
                  {% render 'icons', type:'email', color:{{settings.topbar_text}} -%}
                  <a class="underline text-[12px] lg:text-sm" href="mailto:{{ settings.store_email }}">
                    {{- settings.mail_label -}}
                  </a>
                </div>
              {% endif %}
            {% endif %}
          </div>
        {% when 'social_media' %}
          <div class="flex gap-3 items-center w-fit h-fit">
            {% if settings.facebook_link %}
              <div class="w-fit h-fit">
                <a class="flex items-center gap-1 underline text-[12px] lg:text-sm" href="{{settings.facebook_link}}">
                  {% render 'icons', type:'facebook', color:{{settings.topbar_text}} -%}
                  {% if settings.facebook_label != blank %}{{- settings.facebook_label -}}{% endif %}
                </a>
              </div>
            {% endif %}
            {% if settings.instagram_link %}
              <div class="w-fit h-fit">
                <a class="flex items-center gap-1 underline text-[12px] lg:text-sm" href="{{settings.instagram_link}}">
                  {% render 'icons', type:'instagram', color:{{settings.topbar_text}} -%}
                  {% if settings.instagram_label != blank %}{{- settings.instagram_label -}}{% endif %}
                </a>
              </div>
            {% endif %}
            {% if settings.twitter_link %}
              <div class="w-fit h-fit">
                <a class="flex items-center gap-1 underline text-[12px] lg:text-sm" href="{{settings.twitter_link}}">
                  {% render 'icons', type:'twitter', color:{{settings.topbar_text}} -%}
                  {% if settings.twitter_label != blank %}{{- settings.twitter_label -}}{% endif %}
                </a>
              </div>
            {% endif %}
            {% if settings.pinterest_link %}
              <div class="w-fit h-fit">
                <a class="flex items-center gap-1 underline text-[12px] lg:text-sm" href="{{settings.pinterest_link}}">
                  {% render 'icons', type:'pinterest', color:{{settings.topbar_text}} -%}
                  {% if settings.pinterest_label != blank %}{{- settings.pinterest_label -}}{% endif %}
                </a>
              </div>
            {% endif %}
          </div>
        {% when 'international' %}
          <div class="flex items-center gap-5">

            {%- if block.settings.is_show_countries and localization.available_countries.size > 1 -%}
              
            
              <localization-form>
                {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form relative' -%}
                    {%- render 'localization', localPosition: 'HeaderCountry', type:'countries' -%}
                {%- endform -%}
              </localization-form>
            {% endif %}
  
            {%- if block.settings.is_show_languages and localization.available_languages.size > 1 -%}
            <localization-form>
                {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form relative' -%}
                  {%- render 'localization', localPosition: 'HeaderLanguage', type:'languages' -%}
                {%- endform -%}
                </localization-form>
            {%- endif -%}
          </div>

        {% when 'divider' %}
          <div class="hidden lg:block divider h-4 mx-2 w-[1px] bg-slate-700"></div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Top bar",
  "limit": 1,
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "content_position",
      "label": "Content position",
      "options": [
        {
          "label": "Left",
          "value": "start"
        },
        {
          "label": "Center",
          "value": "center"
        },
        {
          "label": "Right",
          "value": "end"
        },
        {
          "label": "The blocks are equal",
          "value": "evenly"
        },
        {
          "label": "The blocks at the edges",
          "value": "between"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container width",
      "options": [
        {
          "label": "Container",
          "value": "container"
        },
        {
          "label": "Narrow",
          "value": "narrow_width"
        },
        {
          "label": "Full width",
          "value": "full_width"
        }
      ],
      "default": "container",
      "info": "Width value of section content"
    }
  ],
  "blocks": [
    {
      "type": "message",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "id": "message",
          "type": "richtext",
          "default": "<p>All products are 20$ today</p>",
          "label": "Content"
        }
      ]
    },
    {
      "type": "contact",
      "name": "Store contact",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "is_show_phone_num",
          "default": false,
          "label": "Show phone number",
          "info": "Add your phone number in Store contact setting"
        },
        {
          "type": "checkbox",
          "id": "is_show_whatsapp",
          "default": false,
          "label": "Show whatsapp button",
          "info": "Add your whatsapp link in Store contact setting"
        },
        {
          "type": "checkbox",
          "id": "is_show_email",
          "default": false,
          "label": "Show store email",
          "info": "Add your email address in Store contact setting"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social media icons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "default": true,
          "id": "is_show_social",
          "label": "Show social media icons",
          "info": "Add information in Store contact setting"
        }
      ]
    },
    {
      "type": "international",
      "name": "International",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "default": false,
          "label": "Show countries seletor",
          "id": "is_show_countries"
        },
        {
          "type": "checkbox",
          "default": false,
          "label": "Show languages seletor",
          "id": "is_show_languages"
        }
      ]
    },
    {
      "type": "divider",
      "name": "Divider",
      "limit": 3
    }
  ],
  "presets": [
    {
      "name": "Top bar",
      "blocks": [
        {
          "type": "message"
        },
        {
          "type": "social_media"
        }
      ]
    }
  ]
}
{% endschema %}
