<div
  class="
    slideshow sn-slideshow swiper swiper-container w-full relative section-{{ section.settings.container }}
    {%- case section.settings.section_height -%}
      {% when 'small' %}
        lg:h-[400px]
      {% when 'medium' %}
        lg:h-[600px]
      {% when 'large' %}
        lg:h-[800px]
      {% when 'full' %}
        lg:h-screen
    {%- endcase -%}

    {%- case section.settings.mobile_section_height -%}
      {% when 'small' %}
        h-[320px]
      {% when 'medium' %}
        h-[480px]
      {% when 'large' %}
        h-[600px]
      {% when 'full' %}
        h-screen
    {%- endcase -%}
  "
  duration="{{ section.settings.duration }}"
  data-auto-play="{{ section.settings.is_auto_play }}"
  data-pagination="{{ section.settings.is_show_pagination }}"
  data-navigation="{{ section.settings.is_show_navigation }}"
  data-loop="{{ section.settings.is_loop }}"
  style="padding-top:{{ section.settings.spacing_top }}px;padding-bottom:{{ section.settings.spacing_bottom }}px"
>
  <div class="w-full h-full swiper-wrapper">
    {% for block in section.blocks %}
      {%liquid 
      assign show_button = false
      if block.settings.is_show_button and block.settings.button_label != blank
        assign show_button = true
      endif
      %}
      {% unless show_button and block.settings.button_url == blank %}
        <a class="swiper-slide relative" href="{{ block.settings.button_url }}">
        {% else %}
        <div class="swiper-slide relative">
      {% endunless %}
      {% case block.type %}
        {% when 'image' %}
          {% render 'slide-blocks', type: 'image', block: block, show_button:show_button %}
        {% when 'video' %}
          {% render 'slide-blocks', type: 'video', block: block %}
      {% endcase %}
      {% unless show_button and block.settings.button_url == blank %}
        </a>
        {% else %}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
  {% assign block_count = section.blocks | size %}
  {% if section.settings.is_show_navigation and block_count > 1 %}
    <div
      class="swiper-button swiper-button-prev rounded-full w-10 h-10 border bg-opacity-60 lg:hover:bg-opacity-40 {% if section.settings.navigation_style == 'light' %}border-black bg-white lg:hover:bg-black lg:hover:border-white {% else %}border-white bg-black lg:hover:bg-white{% endif %} transition style-{{ section.settings.navigation_style }}"
    ></div>
    <div
      class="swiper-button swiper-button-next rounded-full w-10 h-10 border bg-opacity-60 lg:hover:bg-opacity-40 {% if section.settings.navigation_style == 'light' %}border-black bg-white lg:hover:bg-black lg:hover:border-white {% else %}border-white bg-black lg:hover:bg-white{% endif %} transition style-{{ section.settings.navigation_style }}"
    ></div>
  {% endif %}
  {% if section.settings.is_show_pagination and block_count > 1 %}
    <div class="min-h-12 absolute bottom-10 left-0 w-full">
      <div class="swiper-pagination style-{{ section.settings.navigation_style }}"></div>
    </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "Slideshow",
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "Section height",
      "options": [
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Full screen",
          "value": "full"
        }
      ],
      "default": "full"
    },
    {
      "type": "select",
      "id": "mobile_section_height",
      "label": "Mobile section height",
      "options": [
        {
          "label": "Small",
          "value": "small"
        },
        {
          "label": "Medium",
          "value": "medium"
        },
        {
          "label": "Large",
          "value": "large"
        },
        {
          "label": "Full screen",
          "value": "full"
        }
      ],
      "default": "full"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Container width",
      "options": [
        {
          "label": "Container",
          "value": "container"
        },
        {
          "label": "Narrow",
          "value": "narrow_width"
        },
        {
          "label": "Full width",
          "value": "full_width"
        }
      ],
      "default": "container",
      "info": "Width value of section content"
    },
    {
      "type": "range",
      "id": "spacing_top",
      "min": 0,
      "max": 100,
      "default": 0,
      "step": 5,
      "unit": "px",
      "label": "Section spacing top"
    },
    {
      "type": "range",
      "id": "spacing_bottom",
      "min": 0,
      "max": 100,
      "default": 0,
      "step": 5,
      "unit": "px",
      "label": "Section spacing bottom"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background section",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Slider settings"
    },
    {
      "type": "checkbox",
      "id": "is_loop",
      "default": true,
      "label": "Loop"
    },
    {
      "type": "checkbox",
      "id": "is_auto_play",
      "default": true,
      "label": "Autoplay"
    },
    {
      "type": "range",
      "id": "duration",
      "min": 3,
      "max": 15,
      "default": 5,
      "step": 1,
      "unit": "s",
      "info": "Content conversion speed",
      "label": "Duration"
    },
    {
      "type": "checkbox",
      "id": "is_show_pagination",
      "default": true,
      "label": "Show pagination dots"
    },
    {
      "type": "checkbox",
      "id": "is_show_navigation",
      "default": true,
      "label": "Show navigation arrows"
    },
    {
      "type": "select",
      "id": "navigation_style",
      "options": [
        {
          "label": "Light",
          "value": "light"
        },
        {
          "label": "Dark",
          "value": "dark"
        }
      ],
      "default": "dark",
      "label": "Navigation style"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "limit": 5,
      "name": "Image",
      "settings": [
        {
          "type": "header",
          "content": "Image slide"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Desktop image",
          "info": "Recommended 1920 x 1080px"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image",
          "info": "Recommended 960 x 540px"
        },
        {
          "type": "checkbox",
          "id": "is_show_overlay",
          "default": false,
          "label": "Show overlay"
        },
        {
          "type": "header",
          "content": "Slide content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "placeholder": "Big sale upto 30% today.",
          "default": "Big sale upto 30% today."
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Explore and get your benefits.</p>"
        },
        {
          "type": "color",
          "id": "content_color",
          "default": "#000000",
          "label": "Content color"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Explore now",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button link"
        },
        {
          "type": "select",
          "label": "Button style",
          "id": "button_style",
          "options": [
            {
              "label": "Primary button",
              "value": "primary"
            },
            {
              "label": "Secondary",
              "value": "secondary"
            },
            {
              "label": "Simple",
              "value": "simple"
            }
          ],
          "default": "primary"
        },
        {
          "type": "checkbox",
          "id": "is_show_button",
          "default": false,
          "label": "Use button"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "Button size",
          "options": [
            {
              "label": "Small",
              "value": "small"
            },
            {
              "label": "Medium",
              "value": "medium"
            },
            {
              "label": "Large",
              "value": "large"
            }
          ],
          "default": "medium"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "label": "Small",
              "value": "small"
            },
            {
              "label": "Medium",
              "value": "medium"
            },
            {
              "label": "Large",
              "value": "large"
            }
          ],
          "default": "medium",
          "label": "Heading size"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "label": "Left",
              "value": "start"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "end"
            }
          ],
          "default": "center",
          "label": "Content alignment"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "label": "Left",
              "value": "start"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "end"
            }
          ],
          "default": "center",
          "label": "Mobile content alignment"
        },
        {
          "type": "select",
          "id": "content_position",
          "options": [
            {
              "label": "Top left",
              "value": "top-left"
            },
            {
              "label": "Top center",
              "value": "top-center"
            },
            {
              "label": "Top right",
              "value": "top-right"
            },
            {
              "label": "Middle left",
              "value": "middle-left"
            },
            {
              "label": "Middle center",
              "value": "middle-center"
            },
            {
              "label": "Middle right",
              "value": "middle-right"
            },
            {
              "label": "Bottom left",
              "value": "bottom-left"
            },
            {
              "label": "Bottom center",
              "value": "bottom-center"
            },
            {
              "label": "Bottom right",
              "value": "bottom-right"
            }
          ],
          "default": "middle-center",
          "label": "Content position"
        },
        {
          "type": "range",
          "id": "block_spacing",
          "min": 0,
          "max": 50,
          "default": 50,
          "step": 1,
          "unit": "px",
          "label": "Desktop content spacing"
        }
      ]
    },
    {
      "type": "video",
      "limit": 5,
      "name": "Video",
      "settings": [
        {
          "type": "header",
          "content": "Video Slide"
        },
        {
          "type": "textarea",
          "id": "video",
          "label": "Video",
          "default": "https://cdn.shopify.com/videos/c/o/v/aea5808f170644d6ad64e23452ce6537.mp4",
          "info": "Allow multiple format, each video in a new line. MP4, MOV and WEBM supported."
        },
        
        {
          "type": "checkbox",
          "id": "autoplay",
          "default": true,
          "label": "Autoplay"
        },
        {
          "type": "checkbox",
          "id": "loop",
          "default": true,
          "label": "Loop"
        },
        {
          "type": "checkbox",
          "id": "muted",
          "default": true,
          "label": "Muted",
          "info": "Video is possible to autoplay when this option is enabled"
        },
        {
          "type": "checkbox",
          "id": "controls",
          "default": false,
          "label": "Controls"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow"
    }
  ]
}
{% endschema %}
