<!doctype html>
<html
  lang="{{ request.locale.iso_code }}"
  data-template="{{ template.name }}"
>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sunny Theme v1.0.0</title>
    <link rel="stylesheet" href="{{ 'base.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'theme-global.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
    <link type="text/css" href="{{ 'theme.css' | asset_url }}" rel="stylesheet">
    {{ content_for_header }}
  </head>
  <body style="background-color: {{settings.primary_color}};" class="relative overflow-x-hidden">
    {%- liquid
      sections 'header-group'
    -%}

    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>

    {%- liquid
      sections 'footer-group'
    -%}

    {% liquid  
    if settings.cart_type == 'drawer' 
      render 'cart-drawer'
    endif 
    %}

    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme-global.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'swiper.min.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
