
<div class="collection-card p-5">
  <div class="collection-card-wrapper">
    <div class="sn-card_media" image-ratio="square" image-style="{{ image_style }}">
      <a href="{{ collection.url }}">
        {% render 'responsive-image',
          image: collection.featured_image,
          div_class: "w-full overflow-hidden block",
          image_ratio: 'square',
          image_class: 'object-cover object-center w-full h-full'
        %}
        <div class="w-full flex items-center">
            <h3 class="mega text-md my-2 px-2 w-full font-bold text-{{ title_position }}">{{ collection.title }}  
                {% if is_show_count %}
                <sup>{{ collection.all_products_count }}</sup>
                {% endif %}     
            </h3>
        </div>
      </a>
    </div>
  </div>
</div>
