<div class="absolute left-0 top-full list-submenu submenu_level-1 mega-menu mega-menu-wrapper shadow w-full mt-[.5px]">
  <div class="flex justify-between gap-10 items-start max-h-[500px] min-h-64 mx-auto relative pt-2 section-{{section.settings.container}}">
    {% if link.links != blank %}
    <ul class="flex justify-start gap-10 w-1/2 flex-1">
      {% for childlink in link.links %}
        <li class="p-2 relative list-menu--sub w-fit mr-5">
          <a
            class="{%- if childlink.active %}menu_item_active{% endif %} whitespace-nowrap w-fit list-menu--link pb-1 relative flex items-center gap-2 text-base font-semibold justify-between"
            href="{{ childlink.url }}"
          >
            {{- childlink.title | escape -}}
          </a>
          <ul class="w-full">
            {% for sub_childlink in childlink.links %}
              <li class="py-2 relative list-menu--sub w-fit">
                <a
                  class="{%- if sub_childlink.active %}menu_item_active{% endif %} whitespace-nowrap w-fit list-menu--link pb-1 relative flex items-center gap-2 text-sm justify-between"
                  href="{{ sub_childlink.url }}"
                >
                  {{- sub_childlink.title | escape -}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
    {% endif %}
  <div class="mega_menu-addons 
{% case block.settings.slides_per_view %} 
{% when 1 %}max-w-[20%]
{% when 2 %}max-w-[35%]
{% else %}max-w-[50%]
{% endcase %}
  flex-1 overflow-hidden mx-auto h-full">
        {% render 'mega-menu-addons', block:block %}
    </div>
  </div>
</div>
